@import ../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap
@import ./last-line-polyfill

.loading
  &:after
    display: block
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 0
    height: 3px
    background-color: red

.playlist
  margin: 0 auto
  width: 766px

  .playlist-item
    border: solid 1px lightgrey
    width: 100%
    padding: 18px 10px
    height: 299px
    margin-bottom: 10px
    position: relative
    .title
      display: block
      font-size: 20px
      font-weight: bold
      margin: 0 0 30px 438px

    .date
      display: block
      font-size: 18px
      margin: 0 0 35px 438px
      font-weight: bold
      color: gray

    .thumbnail
      position: absolute
      width: 420px
      height: 262px
      top: 18px
      left: 10px
      background-size: cover
      background-position: center center
      background-repeat: no-repeat

    .description
      position: absolute
      height: $line-height-computed * 4
      right: 10px
      bottom: 18px
      left: 448px

//@media (max-width: 481px)
@media (max-width: 767px)
  .playlist
    width: 320px
    .playlist-item
      height: initial
      padding: 13px 10px
      .description
        display: none
      .thumbnail
        width: 300px
        height: 200px
        margin: 0
        position: static
      .title
        margin: 0
        font-size: 19px
      .date
        margin: 0
        font-size: 15px




.item-full
  width: 768px
  margin: 0 auto
  padding-top: 14px

  .title
    display: block
    font-size: 24px
    font-weight: bold
    margin: 20px

  .date
    display: block
    font-size: 15px
    font-weight: bold
    color: gray
    margin: 20px


  .video-player
    margin-right: 18px
    float: left
    width: 469px
    height: 293px
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    iframe
      height: 100%
      width: 100%

  .back
    font-weight: 700
    font-style: normal
    font-size: 15px
    color: #868686
    margin: 20px

  .description
    font-size: 15px
    color: #868686


@media (max-width: 767px)
  .item-full
    width: 320px
    .video-player
      width: 300px
      height: 200px
      float: none
      margin: 0 auto

    .title
      margin: 10px 20px

    .date
      margin: 5px 20px 20px

    .description
      margin-top: 28px
      padding-bottom: 28px

@media (max-width: 768px)
  .container-fluid
    padding-left: 1px
    padding-right: 1px